<?xml version="1.0"?>

<model>
  <name>Robot</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author>

  <description>
    An adapted model of a Pioneer robot from https://github.com/MobileRobots/amr-ros-config/blob/master/gazebo/pioneer3dx.sdf.
  </description>

</model>
